# Jupyter Notebook
uhuuchat/.ipynb_checkpoints
uhuuchat/uhuuchat/.ipynb_checkpoints
uhuuchat/uhuuchat/*/.ipynb_checkpoints
uhuuchat/uhuuchat/static/*/.ipynb_checkpoints
uhuuchat/uhuuchat/*/*/*/.ipynb_checkpoints